@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar{
    width: 15px;
    background-color: rgb(36, 37, 46);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(168, 181, 221);
    border-radius: 3px;
}

/*fondo de pantalla*/

html{
    scroll-behavior: smooth;
}

body{
    background: #cfdbe2;
    animation: fadeIn 2s ease forwards;
}

*{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*panel de navegacion*/

nav{
    background: #112170;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    }

nav h1{
    position: absolute;
    padding: 20px 50px;
    margin-right: 20px;
}

nav ul{
    float: right;
    list-style: none;
}

nav ul li a{
    color: #cfdbe2;
    text-decoration: none;
    padding: 0 15px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a span{
display: none;
}

.menubtn{
    font-size: 30px;
    color: #cfdbe2;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#menubar{
    display: none;
}

/*banner*/

#banner{
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
}

#banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}


.photo{
    width: 100%;
    height: auto;
    display: block;
}

.banner-cont{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

#banner h3{
    z-index: 2;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

#banner .ban{
    z-index: 2;
    position: absolute;
    background: #e7e6ee;
    border: 2px solid #e7e6ee;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 170px;
    color: #112170;
    padding: 15px;
    cursor: pointer;
    transition: all .3s ease;
}

#banner .ban:hover{
    background: #112170;
    color: #e7e6ee;
    border: 2px solid #112170;
    transition: all .3s ease;
}

/*division regresar y menu filtros*/

.division{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    margin-top: 40px;
}

/*boton d regresar*/

.fa-arrow-left{
    display: inline-flex;
    background: #1c4583;
    color: #ffff;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #1c4583;
    transition: all .3s ease;
    font-size: 15px;
}

.fa-arrow-left:hover{
    background: transparent;
    border: 2px solid #1c4583;
    transition: all .3s ease;
    color: #1c4583;
}


/*buscador*/

#buscador{
    margin-top: 0;
    position:relative;
    animation: slideInFromLeft 1s ease forwards;
    text-align: center;
}

#buscador input{
    border: 1px solid #1c4583;
    border-radius: 50px;
    height: 50px;
    width: 70%;
    padding: 0 50px 0 20px;
}

#buscador .uwu:focus{
    border-bottom: 2px solid #1c4583;
    border: none;
}

#buscador button{
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 10px;
    border: none;
     background: transparent;
  color: #1c4583;
  cursor: pointer;
  font-size: 18px;
}


/*boton filtrar*/

.filtrar{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #1c4583;
    border: 2px solid #1c4583;
    border: #1c4583;
    color: #cfdbe2;
    cursor: pointer;
    transition: all .3s ease;
}

.filtrar:hover{
    background: transparent;
    border: 2px solid #1c4583;
    color: #1c4583;
    transition: all .3s ease;
}

/*eliminar filtros*/
.filtros .limpiar{
    background: transparent;
    border: 1px solid #cfdbe2;
    border-radius: 10px;
    color: #cfdbe2;
    margin: 15px 0;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.filtros .limpiar:hover{
    border: 1px solid #cfdbe2;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all .3s ease;
}

.btnfiltross{
    margin-top: 5%;
    display: flex;
    gap: 40px;
}

/*menu de filtros*/

.filtros{
    position: fixed;
    top: 80px;
    right: 0%;
    background: #0f0f0f;
    width: 450px;
    padding: 20px;
    z-index: 9999;
    color: #cfdbe2;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    transition: all 0.3s ease;
    background: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(95, 154, 243, 0.3);
}

.filtrar .testo{
    cursor: pointer;
}

.filtros.visible{
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.filtros ul{
    list-style: none;
    padding-bottom: 40px;
    margin-top: 5%;
}

.filtros ul li label{
    cursor: pointer;
}

.filtros ul li ul{
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 5%;
}

.filtros ul li ul li{
    padding: 13px;
    padding-left: 15px;
    cursor: pointer;
    text-align: center;
}

.cerrar{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-weight: 500;
}

.subt{
    font-size: 20px;
    font-weight: 500;
}

.menver{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    list-style: none;
    padding-left: 10px;
}

.menver li{
    margin-top: 30px;
}

.menver input[type="checkbox"]{
    display: none;
}

.menver input[type="checkbox"]:checked + label {
  border: 2px solid #cfdbe2;
  border-radius: 10px;
  padding: 10px;
  transition: all .3s ease;
}

input#talla[type="checkbox"]:checked + label + .menver{
    max-height: 500px;
}

input#color[type="checkbox"]:checked + label + .menver{
    max-height: 500px;
}

input#marca[type="checkbox"]:checked + label + .menver{
    max-height: 500px;
}

/*categoria uwu*/

.zap{
    margin-top: 10%;
    width: 200px;
    height: 210px;
    border-radius: 10px;
    transition: .3s;
}

#owo{
    font-family: 'Montserrat';
    display: block;
    background: #f4f5f7;
    box-shadow: 0px 3px 8px rgb(131, 116, 121);
    border-radius: 20px;
    width: 97%;
    box-sizing: border-box;
    margin: 2.5% auto;
    padding: 20px;
    transition: .5 ease;
}

.cont{
    cursor: pointer;
    max-width: 250px;
    margin-left: 3.4%;
    margin-right: 3.4%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    bottom: 0;
    transition: transform 0.3s;
    padding: 25px;
    background: #ffff;
    border-radius: 10px;
}

.cont:hover{
    background: #c2d0d8;
    border-radius: 10px;
    transform: scale(.90); 
}

.fila{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
  font-size: 15px;
  font-weight: 400;
}

.price{
    font-size: 18px;
    font-weight: 500;
    color: #47748d
}

/*del item seleccionado*/

 /*.seleccion{
    z-index: 1000;
    background: #cfdbe2;
    transition: .5s ease;
    opacity: 1;
    width: 30%;
    height: 93%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 8px rgb(131, 116, 121);
    overflow: hidden;;
 }*/

.presio{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #47748d;
}

.tula{
    color: #222222;
    font-size: 20px;
    margin-bottom: 15px;
}

.preview{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999; 
}

.preview.activo {
    display: flex;
}

.preview .comtenido{
    position: relative;
    text-align: center;
    background: #ffff;
    padding: 45px 18px;
    display: none;
    margin: 15px;
    width: 30%;
    border-radius: 10px;
}

.preview .comtenido.activo {
    display: block;
}

.preview .comtenido.active{
    display: inline-block;
}

.preview .comtenido img{
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
    display: block;
    margin: 0 auto 15px auto;
}

.preview .comtenido .cerrar{
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 600;
    cursor: pointer;
}

.preview .comtenido .size{
    margin-bottom: 30px;
}

.preview .comtenido button{
    border-radius: 15px;
    border: none;
    padding: 15px;
    background: #5f9af3;
    cursor: pointer;
}

.preview .comtenido button:hover{
    background: #4d88df;
}

.preview .comtenido .detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview .comtenido .was{
    margin-top: 8%;
    border-radius: 15px;
    border: none;
    padding: 5px 25px;
    background: #25D366;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 5px;
}

.preview .comtenido .was:hover{
    background: #25D366;
}

.preview .comtenido .was .fa-whatsapp{
    font-size: 35px;
    margin-bottom: 5%;
    color: #f3fafe;
}

.preview .comtenido .was span{
    color: #f3fafe;
    font-weight: 500;
    font-size: 1rem;

}
 /*fondo borroso al abrir item*/

 /*.fondo-borroso {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999; 
    display: none;
}*/

/*pie de pagina*/

footer{
    background-color: #1C1D22;
    text-align: center;
}

.infocja{
    margin: 15px auto;
    padding: 30px 0 140px 70px;
    color: white;
    margin-bottom: -1%;
    display: flex;
    font-weight: 200;
}

.wasa{
    display: flex;
}

i{
    margin-top: 5%;
    margin-right: 5%
}

.dib{
    margin-right: 19%;
    padding: 0;
}

.log{
    margin-right: -5%;
    padding: 0;
}

.contactanos{
    margin-top: 10px;
}

.dibu{
    margin-right: 19%;
    padding: 0 ;
}

.dibu a{
    margin-right: 10%;
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #cfdbe2;
    transition: all .3s;
}

.dibu a:hover{
    color: #47748d;
    transition: all .3s;
}

iframe{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 5%;
}

hr{
    border:0.5px solid #4b4c53;
}

.final{
    text-align: center;
    color: #cfdbe2;
}


/*animacion*/

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media only screen and (max-width: 1070px){

    /*banner*/

    #banner .ban{
        margin-bottom: -10px;
        font-size: 1rem;
    }

    #banner h3{
        font-size: 2rem;
        margin-bottom: 0px;
    }

    /*buscador*/

    #buscador button{
        right: 16%;
    }

    /*modal*/

    .presio{
        font-size: 17px;
    }

    .preview .comtenido{
        width: 50%;
        max-height: 80vh;
    }

    .preview .comtenido img{
        width: 60%;
        height: 90%;
    }

    .preview .comtenido .cerrar{
        position: absolute;
        right: 8px;
        top: 8px;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
    }

.preview .comtenido .size{
    margin-bottom: 30px;
}

.preview .comtenido button{
    border-radius: 15px;
    border: none;
    padding: 15px;
    background: #5f9af3;
    cursor: pointer;
}

.preview .comtenido button:hover{
    background: #4d88df;
}

.preview .comtenido .was{
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background: #31d367;
}

    /*division regresar y menu filtros*/

    .division{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    margin-top: 30px;
}

    /*boton de regresar*/

    .fa-arrow-left{
    display: inline-flex;
    background: #1c4583;
    color: #ffff;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #1c4583;
    transition: all .3s ease;
    font-size: 15px;
}

.fa-arrow-left:hover{
    background: transparent;
    border: 2px solid #1c4583;
    transition: all .3s ease;
    color: #1c4583;
}

    /*boton de filtros*/
    .filtrar{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #1c4583;
    border: 2px solid #1c4583;
    border: #1c4583;
    color: #cfdbe2;
    cursor: pointer;
    transition: all .3s ease;
}

    /*footer*/

    .infocja{
        margin: 20px auto;
        padding: 2% 0 10% 3%;
    }

    .mas{
        margin-left: 80%;
    }

    .log{
        margin-right: 0;
        padding: 0;
        text-align: center;
    }


}

@media only screen and (max-width: 768px){


    /*la barra azul de navegacion*/

    nav{
        position: fixed;
        z-index: 100;
    }

    .menubtn{
        display: block;
    }

    nav ul{
        border: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#0f0f0f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
        text-align: left;
        background: rgba(15, 15, 15, 0.8);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 15px rgba(95, 154, 243, 0.3);
    }

    nav ul li{
        border: none;
        display: block;
        margin: 50px 10px;
        line-height: 30px;
        font-size: 20px;
        transition: all .3s ease;
    }

    nav ul li:hover{
        font-size: 25px;
        border: none;
        text-decoration: none;
        transition: all .3s ease;
    }

    #menubar:checked ~ ul{
        left: 0;
    }

    p{
        display: block;
    }

    nav ul li a span{
        display: inline;
        gap: 4px;
        border: none;
        text-decoration: none;
    }

    /*menu de filtros*/

        .filtros{
        position: fixed;
        top: 80px;
        right: 0%;
        background: #0f0f0f;
        width: 100%;
        padding: 20px;
        z-index: 9999;
        color: #cfdbe2;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
        transition: all 0.3s ease;
        background: rgba(15, 15, 15, 0.8);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 15px rgba(95, 154, 243, 0.3);
    }
    
    .limpiar{
        background: transparent;
        border: 1px solid #cfdbe2;
        border-radius: 10px;
        color: #cfdbe2;
        margin: 15px 0;
        font-size: 1rem;
        padding: 10px;
        cursor: pointer;
        transition: all .3s ease;
    }

    .btnfiltross{
        display: flex;
        justify-content: space-between;
    }

    /*banner*/

    .photo{
        height: 300px;
    }

    #banner{
        height: 300px;
    }

    #banner .ban{
        margin-bottom: 0px;
        font-size: 0.8rem;
        padding: 10px;
    }

    #banner h3{
        font-size: 1.3rem;
        margin-bottom: -30px;
    }

    /*division regresar y menu filtros*/

    .division{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    margin-top: 20px;
}

    /*boton de regresar*/

    .fa-arrow-left{
    display: inline-flex;
    background: #1c4583;
    color: #ffff;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #1c4583;
    transition: all .3s ease;
    font-size: 15px;
}

.fa-arrow-left:hover{
    background: transparent;
    border: 2px solid #1c4583;
    transition: all .3s ease;
    color: #1c4583;
}

    /*boton de filtros*/
    .filtrar{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #1c4583;
    border: 2px solid #1c4583;
    border: #1c4583;
    color: #cfdbe2;
    cursor: pointer;
    transition: all .3s ease;
}

.filtrar .testo{
        display: none;
    }


    /*buscador*/

    #buscador{
        margin-top: 3%;
    }

    #buscador input{
        width: 65%;
    }

    #buscador button{
        position: absolute;
        right: 19%;
    }

    /*modal*/

    .presio{
        font-size: 17px;
    }

    .preview .comtenido{
        width: 80%;
        max-height: 80vh;
    }

    .preview .comtenido img{
        width: 60%;
        height: 90%;
    }

    .preview .comtenido .cerrar{
        position: absolute;
        right: 8px;
        top: 8px;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
    }

.preview .comtenido .size{
    margin-bottom: 30px;
}

.preview .comtenido button{
    border-radius: 15px;
    border: none;
    padding: 15px;
    background: #5f9af3;
    cursor: pointer;
}

.preview .comtenido button:hover{
    background: #4d88df;
}

.preview .comtenido .was{
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background: #31d367;
}


    /*el pie de pagina*/

    footer{
        text-align: center;
    }

    .infocja{
        flex-direction: column;
        align-items: center;
        padding: 30px 10px;
        gap: 20px;
    }

    .dibu{
        margin-right: 0;
        text-align: center;
    }

    .dibu a{
        margin: 10px 10px;
        font-size: 18px;
    }

    .dibu a{
        font-size: 20px;
    }

    .dib{
        margin: 0;
        text-align: center;
    }

    .log{
        margin: 0;
        text-align: center;
    }

    /*seccion de ofertas*/

    #vermas{
        margin-top: 15%;
    }

    .mas{
        margin-left: 80%;
        margin-top: -5%;
        font-size: 15px;
    }

    .ver{
        margin-top: 15%;
    }

    #owo{
        width: 85%;
        margin: 2.5% auto;
        margin-top: 5%;
        padding: 20px;
    }
    
}