@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar{
    width: 15px;
    background-color: rgb(36, 37, 46);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(168, 181, 221);
    border-radius: 3px;

}

/*fondo de pantalla*/

body{
    background: #cfdbe2;
    animation: fadeIn 2s ease forwards;
}

*{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*panel de navegacion*/

nav{
    background: #112170;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
}

nav h1{
    position: absolute;
    padding: 20px 50px;
    margin-right: 20px;
}

nav ul{
    float: right;
    list-style: none;
}

nav ul li a{
    color: #cfdbe2;
    text-decoration: none;
    padding: 0 15px;
    transition: all .3s ;
    padding-bottom: 8px;
}

nav ul li a:hover{
    border-bottom: 1px solid #cfdbe2;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a span{
display: none;
}

.menubtn{
    font-size: 30px;
    color: #cfdbe2;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#menubar{
    display: none;
}

/*banner*/

#banner{
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
}

#banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.photo{
    width: 100%;
    height: auto;
    display: block;
}

#banner h3{
    z-index: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 45%;
    font-size: 2.5rem;
    left: 40%;
    color: rgb(255, 255, 255);
}



/*seccion*/
.nosotross{
    min-height: 150px;
    font-family: 'Montserrat';
    background: #f4f5f7;
    box-shadow: 0px 3px 8px rgb(131, 116, 121);
    border-radius: 20px;
    width: 97%;
    box-sizing: border-box;
    margin: 2.5% auto;
    margin-top: 3%;
    padding: 20px;
    transition: .5 ease;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    color: #112170;
    margin-bottom: 20px;
    margin-top: 50px;
}

.nosotross .apartado{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100px;
}

.nosotross .aparta2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apar{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 30px;
}

 /*fondo borroso al abrir item*/

 /*.fondo-borroso {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999; 
    display: none;
}*/

 /*pie de pagina*/

footer{
    background-color: #1C1D22;
    text-align: center;
}

.infocja{
    margin: 30px auto;
    padding: 30px 0 140px 70px;
    color: white;
    margin-bottom: -1%;
    display: flex;
    font-weight: 200;
}

.wasa{
    display: flex;
}

i{
    margin-top: 5%;
    margin-right: 5%
}

.dib{
    margin-right: 19%;
    padding: 0;
}

.log{
    margin-right: -5%;
    padding: 0;
}

.contactanos{
    margin-top: 10px;
}

.dibu{
    margin-right: 19%;
    padding: 0 ;
}

.dibu a{
    margin-right: 10%;
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #cfdbe2;
    transition: all .3s;
}

.dibu a:hover{
    color: #47748d;
    transition: all .3s;
}

iframe{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 5%;
}

hr{
    border:0.5px solid #4b4c53;
}

.final{
    text-align: center;
    color: #cfdbe2;
}

/*animacion*/

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes slideInFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1070px){

    /*banner*/

    #banner .ban{
        bottom: 23%;
        font-size: 1.2rem;
        left: 45%;
    }

    #banner h3{
        font-size: 2rem;
        bottom: 45%;
        left: 37%;
    }

    /*seccion*/

    .nosotross .aparta2{
        min-height: 50px;
    }

    .nosotross .apar{
        align-items: stretch;
    }

    /*footer*/

    .infocja{
        margin: 20px auto;
        padding: 2% 0 10% 3%;
    }

    .mas{
        margin-left: 80%;
    }

    .log{
        margin-right: 0;
        padding: 0;
        text-align: center;
    }

}

@media only screen and (max-width: 768px){

    /*la barra azul de navegacion*/

    nav{
        position: fixed;
        z-index: 100;
    }

    .menubtn{
        display: block;
    }

    nav ul{
        border-bottom: none;
        text-decoration: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#0f0f0f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
        text-align: left;
        background: rgba(15, 15, 15, 0.8);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 15px rgba(95, 154, 243, 0.3);
    }

    nav ul li{
        border-bottom: none;
        display: block;
        margin: 50px 10px;
        line-height: 30px;
        font-size: 20px;
        text-decoration: none;
        transition: all .3s ease;
     }

    nav ul li:hover{
        font-size: 25px;
        border-bottom: none;
        text-decoration: none;
        transition: all .3s ease;
    }

    #menubar:checked ~ ul{
        left: 0;
    }

    p{
        display: block;
    }

    nav ul li a span{
        display: inline;
        gap: 4px;
        border-bottom: none;
        text-decoration: none;
    }

    /*banner*/

    .photo{
        height: 300px;
    }

    #banner{
        height: 300px;
    }

    #banner .ban{
        bottom: 18%;
        font-size: 0.9rem;
        left: 42%;
    }

    #banner h3{
        font-size: 1.5rem;
        bottom: 40%;
        left: 30%;
    }

    /*seccion*/

    .apar{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 20px;
    }

    /*el pie de pagina*/

    footer{
        text-align: center;
    }

    .infocja{
        flex-direction: column;
        align-items: center;
        padding: 50px 10px;
        gap: 20px;
    }

    .dibu{
        margin-right: 0;
        text-align: center;
    }

    .dibu a{
        margin: 10px 10px;
        font-size: 18px;
    }

    .dibu a{
        font-size: 20px;
    }

    .dib{
        margin: 0;
        text-align: center;
    }

    .log{
        margin: 0;
        text-align: center;
    }


}